<h1>Repair Request for <%= @repair_request.product.combined_info %></h1>

<p>Cost: <%= @repair_request.cost == nil ? "TBD" : "#{@repair_request.cost}" %></p>
<p>Being Repaired At: <%= @repair_request.repair_shop.name %></p>
<p>Submitted At: <%= @repair_request.created_at %></p>
<p>Expected Return: <%= @repair_request.date_of_return == nil ? "TBD" : "#{@repair_request.date_of_return}" %></p>